html, body {
    margin: 0;
    padding: 0;
    min-width: 440px;
    font-family: "Source Sans 3", sans-serif;
}


.container{
    width: 440px;
    margin: auto;
}

.user-profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.main-user{
    margin: 25px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.headofprofile{
    display: flex;
}

.post{
    width: 440px;
}

p{
    margin: 0;
}

.name-location{

    margin: 8px;
}

.likeShareComment img{
    width: 50px;
    height: 50px;
    margin: 20px 5px;
}

.likeShareComment p{
    margin: 10px 30px;
}

.body{
    margin-top: 10px;
    background-color: whitesmoke;
}

.likeShareComment-img{
    width: 5px;
    height: 5px;
}